body {
    background-color: #467d91; /* Fundo azul claro */
    color: #010101; /* Texto preto escuro */
    margin: 30px; /* Espaço de 20px ao redor do elemento */
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  
  .navbar {
    background-color: #467d91; /* Azul do Bootstrap */
  }
  
  .btn-outline-success {
    border-color: #000000; /* Laranja para destacar */
    color: #467d91;
  }

  hr {
    margin:auto;
    height: 12px;
    background: #000000;
  }

  h1 {
    font-size: 2,5rem;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    
  }
   
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }


  .btn {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover {
    background-color: #467d91 ;
  }

  .row {
    display: flex;
    justify-content: space-around; /* Distribui o espaço ao redor dos itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    height: 600px; /* Ajuste conforme necessário */
  }
  
  .foto {
    height: 515px; /* Altura desejada para a imagem e o vídeo */
    width: 350px; /* Largura desejada para a imagem e o vídeo */
  }
  
  .foto img {
    width: 100%; /* Faz com que a imagem preencha o contêiner */
    height: 100%; /* Faz com que a imagem preencha o contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
  }
  
  .foto iframe {
    width: 100%; /* Faz com que o iframe preencha o contêiner */
    height: 100%; /* Faz com que o iframe preencha o contêiner */
  }
  